///<reference path="../../../../node_modules/dexcms-core/dexcms.core.client/sass/_variables.scss">
///<reference path="../../../../node_modules/dexcms-core/dexcms.core.client/sass/applications/publicsite/_core.scss">

$faqs-categories-background-color: $cTwo !default;
$faqs-categories-question-hover-color: $cTwo !default;

$faqs-items-highlight-letter-color: darken($cOne, 60%) !default;
$faqs-items-helpful-hover-color: $cTwo !default;
$faqs-items-footer-border-color: darken($cOne, 60%) !default;
$faqs-thumbs-up-color: #0F0 !default;
$faqs-thumbs-down-color: #F00 !default;
